<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <link href="stylesheets/index.css" rel="stylesheet" type="text/css"/>
</head>
<body id="body-index">
<div id="selection-page-background">
    <div id="selection-page">
      <h1><a href="/aperture">Aperture</a></h1>
      <h1><a href="/reciprocity_failure">Reciprocity Failure </a></h1>
    </div>
  </div>
</body>
</html>
