#selection-page-background{
  background-color: #00343f;
  width: auto;
  height: 100vh;
}


#selection-page {
  padding-left: 50px;
  display: flex;
  flex-direction: column;

}

#selection-page h1{
  align-items: center;
  font-size: 80px;
}

a:hover {
  text-decoration: underline;
}

a{
  color: white;
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: white;
}


